<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anggotatubuh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnggotaTubuh">
        <activity
            android:name=".Lambung"
            android:exported="true" />
        <activity
            android:name=".Paru"
            android:exported="true" />
        <activity
            android:name=".Hati"
            android:exported="true" />
        <activity
            android:name=".Otak"
            android:exported="true" />
        <activity
            android:name=".Kaki"
            android:exported="true" />
        <activity
            android:name=".Tangan"
            android:exported="true" />
        <activity
            android:name=".Lidah"
            android:exported="true" />
        <activity
            android:name=".Gigi"
            android:exported="true" />
        <activity
            android:name=".Mulut"
            android:exported="true" />
        <activity
            android:name=".Hidung"
            android:exported="true" />
        <activity
            android:name=".Telinga"
            android:exported="true" />
        <activity
            android:name=".Mata"
            android:exported="true" />
        <activity
            android:name=".AnggotaTubuh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>